@model ListAssist.Data.Models.LAList

@{
    ViewBag.Title = "List Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageHeader {Details!}

<div class="row">
    <div class="small-3 medium-2 large-1 columns listDetailsLabel">
        @Html.DisplayNameFor(model => model.Name):
    </div>
    <div class="small-9 medium-6 large-7 columns listDetailsName">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="small-12 medium-4 columns">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "button expand" })
    </div>
    <div class="small-12 medium-6 columns listGrid">
        <div class="small-4 medium-3 columns listHeader">
            Done
        </div>
        <div class="small-8 medium-9 columns listHeader">
            Description
        </div>
    @foreach (var item in Model.LAListItems)
    {
        <div class="small-12 columns itemWrapper">
            <div class="row">
                <div class="small-4 medium-3 columns itemCheck">
                    @Html.CheckBoxFor(modelItem => item.Done)
                </div>
                <div class="small-8 medium-9 columns itemDescription">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
                <div name="itemDetails" class="small-12 columns hide">
                    <p>Put the details here...</p>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
            </div>
        </div>
    }
    </div>
    <div class="medium-6 columns show-for-medium-up listGrid replacement-suggestions">
        <div class="small-12 listHeader">
            Replacement Suggestions
        </div>
        @for (var j = 0; j < Model.LASuggestions.Count; j++)
            {
            @Html.HiddenFor(model => model.LASuggestions[j].ID)
            @Html.HiddenFor(model => model.LASuggestions[j].ListID)
            <div class="small-12 columns itemWrapper">
                <div class="row">
                    <div class="small-10 columns suggestion-description">
                        @Html.DisplayFor(model => model.LASuggestions[j].Description)
                    </div>
                    <div class="small-2 columns">
                        @Html.ActionLink("Add", "AddListItem", new { id = Model.ID }, new { @class = "button expand success round" })
                    </div>
                </div>
            </div>
        }
    </div>



<script>
    $(function () {
        detailsControl();
    });
</script>
