@model ListAssist.Data.Models.LAList

@{
    ViewBag.Title = "List Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageHeader {Details!}

<div class="row">
    <div class="small-4 medium-2 columns">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="small-8 medium-6 columns">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="small-12 medium-4 columns">
        <button class="button expand">@Html.ActionLink("Edit", "Edit", new { id = Model.ID })</button>
    </div>
    <div class="small-12 medium-6 columns listGrid">
        <div class="small-4 medium-3 columns">
            Done
        </div>
        <div class="small-8 medium-9 columns">
            Description
        </div>
    @foreach (var item in Model.LAListItems)
    {
        <div class="small-12 columns itemWrapper">
            <div class="row">
                <div class="small-4 medium-3 columns itemCheck">
                    @Html.CheckBoxFor(modelItem => item.Done)
                </div>
                <div class="small-8 medium-9 columns itemDescription">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>   
            </div>
        </div>
    }
    </div>
    <div class="medium-6 columns show-for-medium-up listGrid">
        <div class="medium-12 columns">
            Details
        <div class="medium-12 columns panel">
            We could put details about an item in here
        </div>
    </div>
</div>
