@model ListAssist.Data.Models.LAList

@{
    ViewBag.Title = "Edit List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageHeader {Edit!}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="small-12 columns">

            @Html.HiddenFor(model => model.ID)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.Owner, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Owner, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Owner, "", new { @class = "text-danger" })

        </div>
        <div class="small-12 large-6 columns">
            <table class="table">
                <thead>
                    <tr>
                        <th width="20">Done</th>
                        <th width="300">Description</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.LAListItems)
                {
                    <tr>
                        <td>@Html.CheckBoxFor(modelItem => item.Done)</td>
                        <td>
                            @Html.EditorFor(modelItem => item.Description)
                            @Html.ValidationMessageFor(modelItem => item.Description, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="small-12 columns">
            <button type="submit" value="Save" class="button">Save</button>
        </div>
    </div>      
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
