@model IEnumerable<ListAssist.Data.Models.LAList>

@{
    ViewBag.Title = "Welcome to ListAssist!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageHeader {Welcome to ListAssist! Create and edit your lists here!}

<div class="row">
    <div class="small-12 columns">
        <button class="expand">@Html.ActionLink("Create New List", "Create")</button>
    </div>
    <div class="small-12 columns">
        <table class="table">
            <thead>
                <tr>
                    <th width="150">@Html.DisplayNameFor(model => model.Name)</th>
                    <th colspan="3"></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = item.ID })</td>
                    <td>@Html.ActionLink("Details", "Details", new { id = item.ID })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = item.ID })</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>