@model IEnumerable<ListAssist.Data.Models.LAList>

@{
    ViewBag.Title = "Welcome to ListAssist!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageHeader {Welcome to ListAssist! Create and edit your lists here!}

<div class="row">
    <div class="small-12 columns">
        @Html.ActionLink("Create New List", "Create", "", new { @class = "button expand success round" })
    </div>
    <div class="small-12 columns listGrid">
        <div class="small-3 columns show-for-medium-up listHeader">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="small-9 columns show-for-medium-up listHeader">
            Actions
        </div>
    @foreach (var item in Model)
    {
        <div class="small-12 columns itemWrapper">
            <div class="row">
                <div class="small-4 columns show-for-small-only smallListLabel">
                    @Html.DisplayNameFor(model => model.Name):
                </div>
                <div class="small-8 medium-3 columns listName">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="small-4 medium-3 columns listAction">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "button expand" })
                </div>
                <div class="small-4 medium-3 columns listAction">
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "button expand" })
                </div>
                <div class="small-4 medium-3 columns listAction">
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "button alert expand" })
                </div>
            </div>
        </div>
    }
    </div>
</div>