@model IEnumerable<ListAssist.Data.Models.LAList>

@{
    ViewBag.Title = "Welcome to ListAssist!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="large-12 columns">
        <h2>ListAssist, your friendly neighbourhood list assistant!</h2>
    </div>
</div>

<div class="large-12 columns">
    <p>
        @Html.ActionLink("Create New List", "Create")
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>
</div>